name: Demo workflow

on:
  push:
    branches:
      - main

jobs:
  run-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x script.sh

      - name: Run demo script
        run: ./script.sh
